/* inconsolata-regular - latin */
/* src: https://gwfh.mranftl.com/fonts/inconsolata?subsets=latin */
@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inconsolata/inconsolata-v31-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
}

.fg-red-title {
    color: #a93455;
    font-weight: bolder;
}
.badge-name {
    color: #a93455;
    margin-top: 0;
}

mark {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

.page,
.badge,
.badge-header,
.badge-content,
.badge-footer {
    display: flex;
}

.badge-header {
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.62rem;
}

.badge-header img {
    max-width: 40%;
}

.badge-header p {
    text-align: right;
}

.badge-content,
.badge-footer {
    flex-direction: column;
}

.badge-footer {
    align-items: center;
    justify-content: space-around;
    background-color: #a93455;
    padding: 0.5rem 0.2rem;
    display: flex;
    flex-direction: row;
    font-weight: 900;
}

.badge-content {
    flex: 1;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.content-card {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow-wrap: break-word;
}

.fingerprint {
    font-size: 0.6rem;
    border-width: 0.05rem;
    padding: 0.2rem;
    color: white;
    letter-spacing: -0.016rem;
}

.keysigning_id {
    max-width: 13.5%;
    color: white;
    padding-left: 0.2rem;
}

.languages {
    margin: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
}

.page {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    background-image: repeating-radial-gradient(circle at 0 0,
						transparent 0,
						#56565640 10px);
    overflow: clip;
}

.badge {
    margin: auto;
    background: rgb(145 152 229);
    background: radial-gradient(circle,
				rgb(145 152 229 / 100%) 0%,
				rgb(217 65 103 / 100%) 100%);
    align-items: center;
    justify-content: center;
}

.midleft {
    line-height: 1.5;
}

.border-bottom {
    border-bottom: solid;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
}

.translations-table th{
    color: #a93455;
}
