{% load static %}
<link rel="stylesheet" href="{% static 'badge.css' %}">

<div class="sheet rotated">
  <div class="badge-face badge-topleft">
    {% include "badges/snippets/top.html" %}
  </div>
  <div class="badge-face badge-topright">
    {% include "badges/snippets/top.html" %}
  </div>
  <div class="badge-mid badge-midleft">
    {% include "badges/snippets/midleft.html" %}
  </div>
  <div class="badge-mid badge-midright">
    {% include "badges/snippets/midright.html" %}
  </div>
</div>
<button type="button" id="unrotate">Unrotate</button>
<script type="text/javascript">
  "use strict";

  function unrotate() {
    var element = document.querySelector('.sheet');
    element.className = 'sheet';
  }

  function setup() {
    var button = document.getElementById('unrotate');
    button.onclick = unrotate;
  }

  document.addEventListener('DOMContentLoaded', setup, false);
</script>
