{% load static %}
<div class="container">
  <div class="card">
    <div class="badge-header">
      <img src="{% static 'img/logo.svg' %}" alt="DebConf23 logo" />
      <div>
        <p>
          10-17 SEPTEMBER
        </p>
        <p>
          2023
        </p>
      </div>
    </div>
    <div class="badge-content">
      <div class="content-card">
        <h1 style="" class="badge-name">{{ user.get_full_name }}</h1>
        <h2>{{ user.attendee.nametag_2 }}</h2>
        <h2>{{ user.attendee.nametag_3 }}</h2>
        <div class="languages">
            {% if user.attendee.languages %}
              <p>{{ user.attendee.languages }}</p>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="badge-footer">
      <div class="keysigning_id">
        {% if user.attendee.keysigning_id and user.attendee.pgp_fingerprints %}
          #{{ user.attendee.keysigning_id }}:
        {% endif %}
      </div>
      <div>
        {% for fpr in user.attendee.pgp_fingerprints.splitlines %}
          <p class="fingerprint">
            {{ fpr }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

